@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
html, body {
  scroll-behavior: smooth;
  background-color: #0f172a; /* Slate-900 style */
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}
